@import "tailwindcss";

@theme {
    --color-main: #F8F3E7;
    --color-secondary: #470101;
    --color-accent: #e1c9be;
}

@font-face {
    font-family: "Madina";
    src: url("/fonts/Madina.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lora";
    src: url("/fonts/Lora-variable.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background: url(/public/images/bg.webp) repeat;
    background-size: 100%;
}

h1,
h2,
h3 {
    font-family: "Madina", ui-serif, Georgia, serif;
    color: var(--color-secondary);
}

h4,
h5,
h6 {
    font-family: "Lora", ui-serif, Georgia, serif;
    color: var(--color-secondary);
}