---
import App from "@/App.astro";
---
<App />
<!-- <!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New confirmation</title>
    </head>
    <style>
        :root {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            background: url(/public/images/bg.webp) repeat;
            background-size: 100%;
            position: relative;
        }
        .main_container {
            width: 80%;
            height: 80vh;
            max-height: 800px;
            max-width: 800px;
            margin: 0 auto;
            padding: 2rem;
            background-color: rgba(221, 6, 6, 0.8);
        }
    </style>
    <body>
        <main>
            <article class="main_container"></article>
        </main>
    </body>
</html> -->
