---
interface Props {
    title?: string;
    background?: string;
}

const { title } = Astro.props;
---

<section class="w-11/12 lg:w-full max-w-7xl mx-auto py-24">
    {title && <h3 class="text-8xl text-center md:text-start">{title}</h3>}
    <slot />
</section>
