---
import SectionContainer from "@/components/SectionContainer.astro";
---

<SectionContainer title="Ubicación">
    <p class="text-xl">
        Te esperamos en:
        <strong>Hacienda La Galera, 34308 Durango, Dgo. México</strong>
    </p>
    <div class="w-full rounded-lg h-104 p-2 border-2">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3649.8!2d-104.635783!3d23.957813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869bb6e6e6e6e6e7%3A0x554e7e7e7e7e7e7a!2sHacienda%20La%20Galera!5e0!3m2!1sen!2smx!4v1234567890"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            class="w-full rounded-lg h-96 border-2"
            referrerpolicy="no-referrer-when-downgrade"
            title="Ubicación de la Hacienda La Galera"
        >
        </iframe>
    </div>
</SectionContainer>
